body {
  background: $background_color;
  color: $text_color;
  font-size: $font_size;
  margin: 0;
}

.colon,
.name {
  height: 0px;
}

html,
body {
  height: 100%;
}

#custom_html {
  height: 100%;
  vertical-align: bottom;
}

.sl__chat__layout {
  font: 1em "Bubblegum",Helvetica,Arial,sans-serif;
  position: absolute;
  bottom: 0;
  padding-top: 0.1em;
  box-sizing: border-box;
}

/* text outline */
.text_outline {
  text-shadow: 
    -1px -1px 1px black, 
    1px -1px 1px black, 
    -1px 1px 1px black, 
    1px 1px 1px black;
}

.sl__chat__layout > div {
  padding: 0.2em 0;
  word-break: break-all;
  animation: fadeOut 1s ease $message_hide_delay forwards;
  -webkit-animation: fadeOut 1s ease $message_hide_delay forwards;
}

.sl__chat__layout.horizontal_flow {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.sl__chat__layout.horizontal_flow .message {
  background: #ddd;
  border-radius: 4px;
  margin: 0.5em;
  padding: 0.5em;
  white-space: normal;
  max-width: 70%;
  word-wrap: break-word;
}


.sl__chat__layout > div.deleted {
  visibility: hidden;
}

.sl__chat__layout .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  padding: 0 4px;
}

.sl__chat__layout .emote img {
  display: inline-block;
  height: 0.8em;
  opacity: 0;
}

.badge,
.colon,
.name {
  display: inline-block;
  vertical-align: top;
}

.sl__chat__layout .meta {
  padding-right: 0px;
  position: relative;
}

.badge {
  margin-right: 4px;
  height: 1.2em;
  position: relative;
}

.name {
  font-weight: 700;
}

/* cheermote */
.message > img[src*=".gif"] {
  height: 1.2em;
  padding-right: 4px;
}

.message > img[src*=".gif"] + font {
  position: relative;
  top: -0.25em;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
